In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.cluster import KMeans, DBSCAN
from sklearn.metrics import silhouette_score
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Load the dataset
file_path = "data/Animation_Movies_After_Phase1.csv"
df = pd.read_csv(file_path)

# Display the first few rows of the dataset
print("Dataset Loaded Successfully!")
df.head()

Dataset Loaded Successfully!

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,budget,...,content_complexity,popularity_normalized,runtime_normalized,vote_average_normalized,budget_normalized,revenue_normalized,vote_count_normalized,Year_normalized,vote_count_bins,release_year
0,150540,Inside Out,7.922,19.208098,Released,2015-06-09,8.850803e+07,21.009978,False,1.954684e+07,...,5.0,0.406107,0.212312,1.572179,0.963383,0.970238,0.619616,0.925676,"(18.6, 21.7]",2015
1,14160,Up,7.949,19.208098,Released,2009-05-28,8.850803e+07,21.009978,False,1.954684e+07,...,4.0,0.406107,0.212312,1.580282,0.963383,0.970238,0.619616,0.885135,"(18.6, 21.7]",2009
2,12,Finding Nemo,7.824,19.208098,Released,2003-05-30,8.850803e+07,21.009978,False,1.954684e+07,...,2.0,0.406107,0.212312,1.542766,0.963383,0.970238,0.619616,0.844595,"(18.6, 21.7]",2003
3,354912,Coco,8.222,19.208098,Released,2017-10-27,8.850803e+07,21.009978,False,1.954684e+07,...,6.0,0.406107,0.212312,1.662216,0.963383,0.970238,0.619616,0.939189,"(18.6, 21.7]",2017
4,10681,WALL·E,8.078,19.208098,Released,2008-06-22,8.850803e+07,21.009978,False,1.954684e+07,...,3.0,0.406107,0.212312,1.618998,0.963383,0.970238,0.619616,0.878378,"(18.6, 21.7]",2008